# Build files
obj/
bin/
*.dll
*.exe
*.pdb
*.dll
*.exe
*.json
*.suo
*.cache
*.log
*.user
*.vs
*.dotnet
*.npm-debug.log
node_modules/
jspm_packages/

# Visual Studio files
.vscode/
.vs/
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
*bin/
*obj/
*.bak
*.orig
*.cache
ipch/
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
*.pubxml
*.pubxml.user
